<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="../src/app/bootstrap.php"
>
    <testsuites>
        <testsuite name="MicahDev">
            <directory>../tests</directory>
        </testsuite>
    </testsuites>
    <coverage
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
    </coverage>
</phpunit>
